<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Admin panel</title>
    </head>
    <body>
        <h2>User page</h2>
        <h3>User info:</h3><br>
        <div>Username:</div>
        <div th:text="${user.username}"></div><br>
        <div>Password:</div>
        <div th:text="${user.password}"></div><br>
        <div>Name:</div>
        <div th:text="${user.name}"></div><br>
        <div>Surname:</div>
        <div th:text="${user.surname}"></div><br>
        <div>Department:</div>
        <div th:text="${user.department}"></div><br>
        <div>Personal ID:</div>
        <div th:text="${user.id}"></div><br>
        <div th:insert="~{templates/footer :: logout}"></div>
    </body>
</html>
