<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <form method="post" action="/login">
                <label>User name:
                    <input name="j_username"/>
                </label><br><br>
                <label>Password:
                    <input name="j_password"/>
                </label><br><br>
                <label>
                    <input type="submit"/>
                </label>
            </form>
        </div>
        <div th:insert="~{templates/footer :: logout}"></div>
    </body>
</html>
